extends ../layout

block content
	#container
	.container.indexpage
		.now
			.index-title
				i.icon
				span.left-side 正在直播
				span.right-side 
					a(href="") 查看更多>>
			ul
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/1.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/2.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/3.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/4.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				ul
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/1.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/2.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/3.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/4.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
		.now
			.index-title
				i.icon
				span.left-side 科技
				span.right-side 
					a(href="") 查看更多>>
			ul
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/1.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/2.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/3.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/4.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
		.now
			.index-title
				i.icon
				span.left-side 历史
				span.right-side 
					a(href="") 查看更多>>
			ul
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/1.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/2.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/3.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
				li 
					a(href="/zhibo/mystream")
						.img-box
							img.img-responsive.center-block(src="/images/4.jpg", alt="")
						.zhibo-des
							.zhibo-tit
								span 论马克思哲学在现代……
								span.sort 科技
							p
								span.zb-name haha
								span.zx-num 123
	footer
		.outlink
			p Copyright © 1998 - 2016 Greg. All Rights Reserved
			p 汉堡鸡肉卷鸡腿鸡翅 版权所有	
	script(src="/js/throttle.js")
	script(src="/js/loopimages.js")