extends ../layout

block content
	.container
		.row
			.col-md-5
				h1 #{title}
				form(method="POST",action="/signup")
					.form-group
						label(for="name") username
						input(type="text" ,name="user[name]" ,class="form-control" ,id="name" ,placeholder="username")
					.form-group
						label(for="password") password
						input(type="password" ,name="user[password]" ,class="form-control" ,id="password" ,placeholder="password")
					.form-group
						label(for="age") age
						input(type="text" ,name="user[age]" ,class="form-control" ,id="age" ,placeholder="age")
					.form-group
						label(for="email") Email
						input(type="email" ,name="user[email]" ,class="form-control" ,id="email" ,placeholder="email")
					button.btn.btn-default.btn-primary(type="submit") 提交