extends ../layout

block content
	.container
		.row
			.col-md-3
				a(href="/zhibo/mystream")
					img.img-responsive.center-block(src="/images/1.jpg", alt="")
			.col-md-3
				a(href="#")
					img.img-responsive.center-block(src="/images/2.jpg", alt="")
			.col-md-3
				a(href="#")
					img.img-responsive.center-block(src="/images/3.jpg", alt="")
			.col-md-3
				a(href="#")
					img.img-responsive.center-block(src="/images/4.jpg", alt="")